@charset "UTF-8";
.str2 {stroke:#333333;stroke-width:99.9213}
.str3 {stroke:#333333;stroke-width:799.961}
.str0 {stroke:#333333;stroke-width:208.346}
.str4 {stroke:#4D4D4D;stroke-width:208.346}
.str1 {stroke:#333333;stroke-width:208.346;stroke-linecap:round}
.fil0 {fill:none}
.fil1 {fill:#4D4D4D}
.fil2 {fill:#E6E6E6}
