<div class="question-dialog" >
    <div class="wrapper">
        <form name="QuestionForm" ng-submit="submit()" novalidate>
            <div class="question-input">
                <textarea name="question" ng-model="question.title" 
                placeholder="Ask any question about the gadget">
                </textarea>
            </div>
            <div class="question-controls">
                <div class="question-controls-setting">

                </div>
                <div class="question-controls-submit">
                    <input type="submit"/>
                </div>
            </div>
        </form>
    </div>
</div>