<!-- Begin Device Questions Go Here -->
<div id="questions">
    <div class="new-question" ng-click="vm.openDialog()" focus-on="#question-input">
        <img ng-src="img/images/illus-woman.png" width="">

        <div class="new-question-input">
            <table border="0" cellspacing='0' cellpadding="0" height="42px">
                <tr>
                    <td border="0">
                        <h3>Ask about the {{gadget.name}}</h3>
                    </td>
                    <td>
                        <!-- <object type="image/svg+xml" data="../Icons/arrow-48px.svg"></object> -->
                        <img src="./icons/arrow-48px.png">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="main">
        <div class="main-controls">
            <div class="main-controls-category">
                <button class="main-controls-category-btn" ng-class="{'selected': vm.questionFilter === 'none'}"
                ng-click="vm.questionFilter = 'none'">All</button>
                <button class="main-controls-category-btn" ng-class="{'selected': vm.questionFilter === 'unanswered'}"
                 ng-click="vm.questionFilter = 'unanswered'">Unanswered</button>
            </div>

            <div class="main-controls-sort">
                <button class="main-controls-sort-btn"><span>Sort</span> <img src="../Icons/sort-24px.png" /></button>
            </div>
        </div>

        <div class="main-content">

            <question-panel ng-repeat="question in gadgetQuestions | filter:vm.filterOption[vm.questionFilter]" question-data="question"></question-panel>

        </div>
    </div>
</div>
<!-- End Device Questions Go Here -->