<div class="page" id="sub-category">

    <div class="sub-category-intro">
        <div class="category-image">

        </div>
    </div>

    <div class="new-release">
        <h3>TOP CHOICE</h3>
        <div class="devices-row">
            <!-- Begin Item Wrapper -->
            <div class="devices-row-wrapper">
                <!-- Begin Item Wrapper -->
                <div class="item-wrapper" ng-repeat="gadget in topChoice">
                    <gadget-shell></gadget-shell>
                </div>
                <!-- End Item Wrapper -->
            </div>
            <!-- End Device Row Wrapper -->
        </div>
    </div>

</div>