<!------------------------------------------ BEGIN DEVICE CATEGORY HTML ----------------------------------------->
        <div class="coming-soon container">
            <header>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
                <h2>LATEST</h2>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <object type="image/svg+xml" data="Icons/best-24px.svg"></object>
                <h2>EDITOR'S CHOICE</h2>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in topChoice">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
                <h2>UPCOMING</h2>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in upcomingGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
                <h2>GAMING </h2>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

    <!-- 
    <div class="manufacturer">
        <h2>Manufacturers</h2>
        <div class="manufacturer-list">
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Huawei</div>
            <div class="oem">Apple</div>
            <div class="oem">Motorola</div>
            <div class="oem">Microsoft</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Samsung</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            
        </div>
    </div> -->
<!------------------------------------------ END DEVICE CATEGORY HTML ----------------------------------------->
