<!------------------------------------------ BEGIN DEVICE CATEGORY HTML ----------------------------------------->
<div id="device-category" class="page">
    <header id="category-header">
        <nav class="device-category-nav" role="navigation">
            <ul class="category-list">
                <li class="category-list-item" ui-sref="phones" ui-sref-active="active"><div>Phones</div></li>
                <li class="category-list-item" ui-sref="laptops" ui-sref-active="active"><div>Laptops</div></li>
                <li class="category-list-item" ui-sref="smartwatches" ui-sref-active="active"><div>Smartwatches</div></li>
            </ul>
        </nav>
    </header>
    <div class="featured-news-wrapper" ng-controller="FeaturedArticleController as fCtrl">
        <h3>FEATURED NEWS</h3>
        <div class="featured-news-carousel">
            <div class="image" style="background-image: url({{fCtrl.currentFeaturedArticle.image}})">
                <span class="slide-indicator-wrapper">
                    <slide-indicator class="slide-indicator" ng-click="showLinkedItem()"
                        ng-repeat="item in fCtrl.FeaturedArticles"
                        ng-class="{'selected': fCtrl.currentFeaturedArticle._id === item._id}"></slide-indicator>
                </span>
            </div>
            <article class="content">
                <header>
                    <h3>{{fCtrl.currentFeaturedArticle.title}}</h3>
                </header>
            </article>

        </div>
    </div>
    <div>
        <div class="coming-soon">
            <h3>LATEST</h3>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release">
            <h3>TOP CHOICE</h3>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in topChoice">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release">
            <h3>UPCOMING</h3>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in upcomingGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>
        
        <div class="new-release">
            <div class="category-image">
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
            </div>
            <h3>GAMING </h3>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

    </div>

    <div id="questions" class="new-release">
        <h3>TRENDING QUESTIONS</h3>
        <question-panel></question-panel>
        <question-panel></question-panel>

    </div>

    <!-- 
    <div class="manufacturer">
        <h2>Manufacturers</h2>
        <div class="manufacturer-list">
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Huawei</div>
            <div class="oem">Apple</div>
            <div class="oem">Motorola</div>
            <div class="oem">Microsoft</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Samsung</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            <div class="oem">Apple</div>
            
        </div>
    </div> -->
</div>
<!------------------------------------------ END DEVICE CATEGORY HTML ----------------------------------------->

<!------------------------------------------ BEGIN SIDEBAR HTML ----------------------------------------->
<div class="gad-shell-sidebar" ng-include="'./main/views/sidebar.html'"></div>