<!------------------------------------------ BEGIN DEVICE CATEGORY HTML ----------------------------------------->
<div id="device-category" class="page-margin-top">
    <div class="featured-news-wrapper" ng-controller="FeaturedArticleController as fCtrl">
        <div class="container">
            <h2>FEATURED NEWS</h2>
        </div>
        <div class="featured-news-carousel">
            <div class="image" style="background-image: url({{fCtrl.currentFeaturedArticle.image}})">
                <span class="slide-indicator-wrapper">
                    <slide-indicator class="slide-indicator" ng-click="showLinkedItem()"
                        ng-repeat="item in fCtrl.FeaturedArticles"
                        ng-class="{'selected': fCtrl.currentFeaturedArticle._id === item._id}"></slide-indicator>
                </span>
            </div>
            <article class="content container">
                <header>
                    <h3>{{fCtrl.currentFeaturedArticle.title}}</h3>
                </header>
            </article>

        </div>
    </div>

    <header id="category-header">
        <nav class="device-category-nav" role="navigation">
            <ul class="category-list">
                <li class="category-list-item" ui-sref=".phones" ui-sref-active="active">
                    <div>Phones</div>
                    <div class="indicator"></div>
                </li>
                <li class="category-list-item" ui-sref=".laptops" ui-sref-active="active">
                    <div>Laptops</div>
                    <div class="indicator"></div>
                </li>
                <li class="category-list-item" ui-sref=".smartwatches" ui-sref-active="active">
                    <div>Smartwatches</div>
                    <div class="indicator"></div>
                </li>
                <li class="category-list-item" ui-sref=".tv" ui-sref-active="active">
                    <div>TV</div>
                    <div class="indicator"></div>
                </li>
            </ul>
        </nav>
    </header>

    <div id="categories" ui-view>
        <div class="coming-soon container">
            <header>
                <h2>LATEST</h2>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <h2>EDITOR'S CHOICE</h2>
                <object type="image/svg+xml" data="Icons/best-24px.svg"></object>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in topChoice">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <h2>UPCOMING</h2>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in upcomingGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

        <div class="new-release container">
            <header>
                <h2>GAMING </h2>
                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
            </header>
            <div class="devices-row">
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in latestGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
        </div>

    </div>

    <div id="questions" class="new-release">
        <div class="container">
            <h2>TRENDING QUESTIONS</h2>
        </div>
        <question-panel></question-panel>
        <question-panel></question-panel>

    </div>
</div>
<!------------------------------------------ END DEVICE CATEGORY HTML ----------------------------------------->

<!------------------------------------------ BEGIN SIDEBAR HTML ----------------------------------------->
<div class="gad-shell-sidebar" ng-include="'./main/views/sidebar.html'"></div>
<!-- <style type="text/css">
.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(235, 102, 25), red);
    border-radius: 50%;
}
</style>
<script type="text/javascript">
    // Design a program that calculate the dimensions of an HTML container
    (function calc(win, $) {
        $(win.document).ready(function () {
            var elem = $(win.document);
            elem.click(function (event) {
                var circleElem = $('<div class="circle"></div>');
                circleElem.css({'top': event.pageY -25, 'left' : event.pageX -25}).width(50).css('border', '1px solid red');
                elem.find('#home').append(circleElem);
                console.log(event.pageX, "", event.pageY)
            });
        });

        $(win.document).ready(function() {
            $(this).click(function(event) {
                var width = $(this).width();
                alert(width);
            });
        });
    })(window, jQuery);
</script> -->
<!------------------------------------------ END HOMEPAGE HTML ----------------------------------------->