
            <!-- Device Pictures Go Here -->
            <!-- <div id="pictures" ng-if="false">
                <div class="gallery">
                    <ul class="gallery-list" ng-repeat="gadget in gadgets">
                        <li class="gallery-list-thumbnail">
                            <img class="gallery-list-thumbnail-image" ng-class="{'selected': gadget.selected}"
                                height="128px" ng-src="{{gadget.image}}" />
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- End Device Pictures Here -->
            