<article class="main-content-question">
    <h3>{{::questionData.title}}</h3>
    <p class="no-answers" ng-if="questionData.answers.length === 0">
        No answers yet
    </p>

    <div ng-if="questionData.answers.length > 0">
        <section class="main-content-question-answer">
            <header>
                <table>
                    <tr>
                        <td><span class="reply-pics-image"
                                style="background-image: url(./img/Top-30-Most-Beautiful-Women-in-the-World-17.jpg)"></span>
                        </td>
                        <td>
                            <h4>User</h4>
                            <span class="best-answer-tag" am-time-ago="questionData.answers[0].created | amUtc | amLocal">Best Answer</span>
                        </td>
                    </tr>
                </table>
            </header>

            <div class="main-content-question-description" ng-class="{'show': visible}">
                <p>
                    {{::questionData.answers[0].content }}
                </p>
                <!-- <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, incidunt tenetur,
                    id vitae similique quia ut eius impedit dolore eos eveniet ipsam, deserunt
                </p> -->
            </div>
            <div class="actions" ng-show="visible">
                <button class="actions-share">Share</button>
                <button class="actions-upvote">
                    <img src="../Icons/upvote-24px.png" /><span>43</span></button>
                <button class="actions-options"><img src="../Icons/option-48px.png" width="30px" /></button>
                <button class="actions-downvote"><img src="../Icons/downvote-24px.png" /></button>
            </div>
        </section>
    </div>
    <button class="more" ng-if="!visible && questionData.answers.length > 0" ng-click="showDescription()">Read
        more</button>
    <button class="more-answers" ng-if="visible && questionData.answers.length > 1">
        See {{questionData.answers.length - 1}} More Answers</button>

    <footer>

        <!-- Option Dialog -->
        <div class="option-dialog" ng-show="options">
            <ul>
                <li class="actions-report"><button>Report</button></li>
                <li class="actions-follow"><button>Follow</button></li>
            </ul>
        </div>
        <!-- End Options dialog -->
        <span class="label time-ago" am-time-ago="questionData.created | amUtc | amLocal"></span>
        <span class="label number-answers" ng-if="questionData.answers.length > 1"> {{::questionData.answers.length}} answers</span>
        <button ng-click="createReply(questionData)" focus-on="#answer-input" class="reply small">Reply </button>
        <button  ng-click="socialShare()" class="share small">Share</button>
        <div class="reply-pics">
            <span ng-if="questionData.answers.length > 0">
                <span class="reply-pics-image-thumb"
                    style="background-image: url(./img/121644_adapted_1440x2560.jpg)"></span>
                <span class="reply-pics-image-thumb"
                    style="background-image: url(./img/Screenshot_2019-08-10-01-24-13-1.png)"></span>
                <span class="reply-pics-image-thumb"
                    style="background-image: url(./img/220px-SubZeroMKXrender.png)"></span>
            </span>
            <button ng-click="toggleOptions()"><img src="../Icons/option-48px.png" width="30px" /></button>
        </div>
    </footer>
</article>