
        <div class="popular-container">
            <h3>POPULAR</h3>
            <div class="popular-list">

            </div>
        </div>

        <div class="categories-container">
            <h3>CATEGORIES</h3>
            <div class="categories-list">
                <ul>
                    <li><a href="phones/gaming">
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/gaming-24px.svg"></object>
                            </div>
                            <div class="category-name">Gaming Phones</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/camera-24px.svg"></object>
                            </div>
                            <div class="category-name">Best Camera Phones</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/battery-24px.svg"></object>
                            </div>
                            <div class="category-name">Battery Life Champs</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/rugged-24px.svg"></object>
                            </div>
                            <div class="category-name">Rugged Smartphones</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/best-24px.svg"></object>
                            </div>
                            <div class="category-name">Best All-Rounders</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/value-24px.svg"></object>
                            </div>
                            <div class="category-name">Best Value Smartphone</div>
                        </a></li>
                    <li><a>
                            <div class="category-image">
                                <object type="image/svg+xml" data="Icons/premium-24px.svg"></object>
                            </div>
                            <div class="category-name">Premium Phones</div>
                        </a></li>
                </ul>
            </div>
        </div>
 