<!------------------------------------------ BEGIN VIEW DEVICE HTML ----------------------------------------->
<div id="device-page" class="device-page page">


    <div class="device-page-main">

        <div class="device-page-main-image">
            <img ng-src="{{gadget.image}}" />
        </div>

        <h1>
            {{gadget.oem + ' ' + gadget.name}}
        </h1>

        <div class="stats-pane">
            <div class="stat">
                <img src="./Icons/visits-48px.png">
                <h5>{{gadget.views}}</h5>
            </div>

            <div class="stat">
                <img src="./Icons/watching-48px.png">
                <h5>167</h5>
            </div>

            <div class="stat fav" ng-click="gadgetCtrl.likeGadget()">
                <img src="./Icons/fav-48px.png">
                <h5>{{gadget.likes}}</h5>
            </div>

            <button class="watch-btn"><img src="./Icons/bell-24px.png" /> <span>Watch this device</span></button>

        </div>

        <header class="main">
            <nav class="nav" aria-role="navigation">
                <ul>
                    <li ng-click="dCtrl.tab = 'questionsTab'"><a><object type="image/svg+xml"
                                data="../Icons/pictures-24px.svg"></object>
                            Questions</a></li>

                    <li ng-click="dCtrl.tab = 'specsTab'">
                        <a><object type="image/svg+xml" data="../Icons/specs-24px.svg"></object> Specs</a>
                    </li>

                    <li ng-click="dCtrl.tab = 'pricesTab'"><a><object type="image/svg+xml"
                                data="../Icons/prices-24px.svg"></object> Prices</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Device Main Information Goes Here -->
        <div class="device-page-main-content" ng-switch="dCtrl.tab">

            <!-- Device Prices Go Here -->
            <div id="prices" ng-switch-when="pricesTab" ng-controller="PricesController as gadgetCtrl">
                <div>
                    <table border="0" class="controls">
                        <tr>
                            <td><button class="controls-filter" ng-click="openModal('filter')">Filter</button>
                            </td>
                            <td><button class="controls-settings"
                                    ng-click="openModal('settings')">Settings</button></td>
                        </tr>
                    </table>
                </div>
                <ul class="store-list">
                    <li class="store-item" ng-repeat="store in stores">
                        <table border="0" class="store-item-unit">
                            <tr>
                                <td class="img">
                                    <img src="./img/phone_pics/sony-xperia-1.jpg" />
                                </td>
                                <td class="detail">
                                    <span class="detail-name">Sony Xperia 1</span>
                                    <span class="detail-condition">New</span>
                                    <span class="detail-seller">Seller Info</span>
                                    <span class="detail-shipping">Free Shipping: Free</span>
                                    <span class="detail-price">&dollar;{{store.bestPrice}}</span>
                                    <span class="detail-store"
                                        style="background-image: url(./img/flipkart.jpg)"></span>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <dialog class="controls-modal" ng-switch="modal" ng-show="showModal">
                    <div class="controls-modal-filter" ng-switch-when="filter"
                        ng-controller="SettingsController as sCtrl">
                        <h3 class="modal-title">Filter</h3>
                        <table>
                            <tr class="controls-modal-filter-currency">
                                <td class="label"><span>Price Range: </span></td>
                                <td class="input"></td>
                            </tr>

                            <tr class="controls-modal-filter-condition">
                                <td class="label"><span>Condition: </span></td>
                                <td class="input"></td>
                            </tr>

                            <tr class="controls-modal-filter-shipping">
                                <td class="label"><span>Free Shipping: </span></td>
                                <td class="input"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="controls-modal-settings" ng-switch-when="settings"
                        ng-controller="SettingsController as sCtrl">
                        <h3 class="modal-title">Settings</h3>
                        <div class="controls-modal-settings-currency"></div>
                        <div class="controls-modal-settings-currency"></div>
                        <div class="controls-modal-settings-currency"></div>
                    </div>
                    <footer>
                        <button>Save</button>
                        <button ng-click="closeModal()">Cancel</button>

                    </footer>
                </dialog>
            </div>
            <!-- End Device Prices -->

            <!-- Device Pictures Go Here -->
            <div id="pictures" ng-if="false">
                <div class="gallery">
                    <ul class="gallery-list" ng-repeat="gadget in gadgets">
                        <li class="gallery-list-thumbnail">
                            <img class="gallery-list-thumbnail-image" ng-class="{'selected': gadget.selected}"
                                height="128px" ng-src="{{gadget.image}}" />
                        </li>
                    </ul>
                </div>
            </div>

            <!-- End Device Pictures Go Here -->

            <!-- Begin Device Specs Go Here -->
            <div id="specifications" ng-switch-when="specsTab">
                <div ng-include="'./main/views/mobile/specs.html'"></div>

            </div>
            <!-- Begin Device Specs Go Here -->

            <!-- Begin Device Questions Go Here -->
            <div id="questions" ng-switch-when="questionsTab">
                <div class="new-question">
                    <img ng-src="img/images/illus-woman.png" width="">

                    <div class="new-question-input">
                        <table border="0" cellspacing='0' cellpadding="0" height="42px">
                            <tr>
                                <td border="0">
                                    <textarea rows="1" name="question"
                                        placeholder="Ask about the {{gadgets[0].name}}"></textarea>
                                </td>
                                <td>
                                    <input type="submit">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="main">
                    <div class="main-controls">
                        <div class="main-controls-category">
                            <button class="main-controls-category-btn selected">All</button>
                            <button class="main-controls-category-btn">Unanswered</button>
                        </div>

                        <div class="main-controls-sort">
                            <button class="main-controls-sort-btn"><span>Sort</span> <img
                                    src="../Icons/sort-24px.png" /></button>
                        </div>
                    </div>

                    <div class="main-content">

                        <article class="main-content-question" ng-controller="QuestionController as qCtrl">
                            <h2>Do apps scale well on extremely tall screens?</h2>
                            <div class="main-content-question-description" ng-class="{'hidden': !visible, '': visible}">
                                <span ng-if="!answered">Not Answered Yet</span>
                            </div>
                            <button class="more" ng-if="answered && !visible">Read more</button>
                            <footer>

                                <!-- Option Dialog -->
                                <div class="option-dialog" ng-show="qCtrl.options">
                                    <ul>
                                        <li class="actions-report"><button>Report</button></li>
                                        <li class="actions-follow"><button>Follow</button></li>
                                    </ul>
                                </div>
                                <!-- End Options dialog -->
                                <span class="label time-ago">6 hrs</span>
                                <span ng-if="answered" class="label number-answers">12 answers</span>
                                <button class="reply small">Reply</button>
                                <button class="share small">Share</button>
                                <div class="reply-pics">
                                    <span ng-if="answered">
                                        <span class="reply-pics-image-thumb"
                                            style="background-image: url(./img/images/121644_adapted_1440x2560.jpg)"></span>
                                        <span class="reply-pics-image-thumb"
                                            style="background-image: url(./img/Screenshot_2019-08-10-01-24-13-1.png)"></span>
                                        <span class="reply-pics-image-thumb"
                                            style="background-image: url(../public/images/220px-SubZeroMKXrender.png)"></span>
                                    </span>
                                    <button ng-click="qCtrl.toggleOptions()"><img src="../Icons/option-48px.png"
                                            width="30px" /></button>
                                </div>
                            </footer>
                        </article>

                        <article class="main-content-question" ng-controller="QuestionController as qCtrl">
                            <h2>Are there any issues common to Sony products?</h2>

                            <section class="main-content-question-answer">
                                <header>
                                    <table>
                                        <tr>
                                            <td><span class="reply-pics-image"
                                                    style="background-image: url('../public/images/Screenshot_2019-08-10-01-24-13-1.png')"></span>
                                            </td>
                                            <td>
                                                <h4>Kate Winset</h4>
                                                <span class="best-answer-tag">Best Answer</span>
                                            </td>
                                        </tr>
                                    </table>
                                </header>

                                <div class="main-content-question-description"
                                    ng-class="{'hidden': !qCtrl.visible, '': qCtrl.visible}">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quo quia
                                        nihil? Fuga sed autem neque repellat doloribus laudantium vitae. Molestiae fugit
                                        iure debitis fugiat repudiandae, dolores voluptatum eaque impedit.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, incidunt tenetur,
                                        id vitae similique quia ut eius impedit dolore eos eveniet ipsam, deserunt
                                    </p>
                                </div>
                                <div class="actions" ng-show="visible">
                                    <button class="actions-share">Share</button>
                                    <button class="actions-upvote"><img
                                            src="../Icons/upvote-24px.png" /><span>43</span></button>
                                    <button class="actions-options"><img src="../Icons/option-48px.png"
                                            width="30px" /></button>
                                    <button class="actions-downvote"><img src="../Icons/downvote-24px.png" /></button>
                                </div>
                            </section>
                            <button class="more" ng-if="!qCtrl.visible" ng-click="qCtrl.showDescription()">Read
                                more</button>
                            <button class="more-answers" ng-if="qCtrl.visible" ng-click="showDescription()">See 11 More
                                Answers</button>

                            <footer>
                                <span class="label time-ago">6 hrs</span>
                                <span class="label number-answers">12 answers</span>
                                <button class="reply small">Reply</button>
                                <button class="share small">Share</button>
                                <div class="reply-pics">
                                    <span class="reply-pics-image-thumb"
                                        style="background-image: url(../public/images/121644_adapted_1440x2560.jpg)"></span>
                                    <span class="reply-pics-image-thumb"
                                        style="background-image: url(../public/images/Screenshot_2019-08-10-01-24-13-1.png)"></span>
                                    <span class="reply-pics-image-thumb"
                                        style="background-image: url(../public/images/220px-SubZeroMKXrender.png)"></span>
                                    <button><img src="../Icons/option-48px.png" width="30px" /></button>
                                </div>
                            </footer>
                        </article>
                    </div>

                </div>

            </div>
            <!-- End Device Questions Go Here -->

            <!-- End Device Main Content -->

            <!-- Begin People Also Viewed -->
            <div class="devices-row">
                <h3>PEOPLE ALSO VIEWED</h3>
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in similarGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
            <!-- End People Also Viewed -->

            <!-- Begin More From Sony -->
            <div class="devices-row">
                <h3>MORE FROM <span ng-bind="gadget.oem" style="text-transform: uppercase;"></span></h3>
                <!-- Begin Item Wrapper -->
                <div class="devices-row-wrapper">
                    <!-- Begin Item Wrapper -->
                    <div class="item-wrapper" ng-repeat="gadget in similarGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                    <!-- End Item Wrapper -->
                </div>
                <!-- End Device Row Wrapper -->
            </div>
            <!-- End More From Sony -->

        </div>
        <!---------------------------------------- End Device Page Main ------------------------------------->

    </div>
    <!------------------------------------------ END VIEW DEVICE HTML ----------------------------------------->