<!------------------------------------------ BEGIN VIEW DEVICE HTML ----------------------------------------->
<div id="device-page" class="device-page page">
    <div class="device-page-main">
        <div class="device-page-main-image">
            <img ng-src="{{gadget.image}}" />
        </div>
        <h1>
            {{gadget.oem + ' ' + gadget.name}}
        </h1>

        <div class="stats-pane">
            <div class="stat">
                <img src="./Icons/visits-48px.png">
                <h5>{{gadget.views}}</h5>
            </div>

            <div class="stat">
                <img src="./Icons/watching-48px.png">
                <h5>167</h5>
            </div>

            <div class="stat fav" ng-click="gadgetCtrl.likeGadget()">
                <img src="./Icons/fav-48px.png">
                <h5>{{gadget.likes}}</h5>
            </div>

            <button class="watch-btn"><img src="./Icons/bell-24px.png" /> <span>Watch this device</span></button>
        </div>

        <header class="main">
            <nav class="nav" aria-role="navigation">
                <ul>
                    <li ui-sref-active="active">
                        <a ui-sref="questions">
                            <object type="image/svg+xml" data="../Icons/pictures-24px.svg"></object>
                            Questions</a></li>

                    <li ui-sref-active="active">
                        <a ui-sref="specs">
                            <object type="image/svg+xml" data="../Icons/specs-24px.svg"></object> Specs</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="prices">
                            <object type="image/svg+xml" data="../Icons/prices-24px.svg"></object> Prices</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Device Main Information Goes Here -->
        <div class="device-page-main-content">

            <!-- Begin Device View Tabs Go Here -->
            <div ui-view></div>
            <!-- End Device Views Tabs Here -->
            <!-- End Device Main Content -->

            <!-- Begin People Also Viewed -->
            <div class="devices-row">
                <h3>PEOPLE ALSO VIEWED</h3>
                <!-- Begin Device Row Wrapper -->
                <div class="devices-row-wrapper">
                    <div class="item-wrapper" ng-repeat="gadget in similarGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                </div>
                <!-- End Device Row Wrapper -->
            </div>
            <!-- End People Also Viewed -->

            <!-- Begin More From OEM -->
            <div class="devices-row">
                <h3>MORE FROM <span ng-bind="gadget.oem" style="text-transform: uppercase;"></span></h3>
                <!-- Begin Device Row Wrapper -->
                <div class="devices-row-wrapper">
                    <div class="item-wrapper" ng-repeat="gadget in similarGadgets">
                        <gadget-shell></gadget-shell>
                    </div>
                </div>
                <!-- End Device Row Wrapper -->
            </div>
            <!-- End More From OEM -->

        </div>
        <!---------------------------------------- End Device Page Main ------------------------------------->

    </div>
    <!------------------------------------------ END VIEW DEVICE HTML ----------------------------------------->