 /* Main Application Stylesheet */
 // Setting Default Variables


 // border width
 $bw : 0.2px;

 // border radius
 $br : 6px;

 //border color
 $bc : rgb(219, 219, 219);

 /*########### COLORS ###############*/


 // /**** Colors *****/
 $orange : #ff7933;
 $dp_orange : #e98614;
 $lt_orange : #ffdbc8;

 $pri :orangered;
 $sec :rgb(255, 94, 0);
 $ter :rgb(255, 247, 0);
 $blue: #0d497a;


 //bg_color
 $bg : #ffffff;
 $main_bg: #ffffff;

 //font color
 $blk : #cfcfcf;
 $blk1 : #aeadad;
 $blk2 : #707070;
 $blk3 : #3b3b3b;

 $bxshadow: #b2916830;

 /*########### END COLORS ############*/

 //base font-size
 $base-font-size : 12px;
 $gr : 1.65;

 //Font Sizes Defaults
 @mixin font-size($size) {
     @if ($size==1) {
         font-size: 0.7654rem; 
     }

     @else if ($size==2) {
         font-size: 0.8646rem;
     }

     @else if ($size==3) {
         font-size: 20px;
     }

     @else if ($size==4) {
         font-size: 32px;
     }
 }


 // Font styles
 $font1: 'Aller';
 $font2: 'Aller';
 $font3: 'Aller';

 // Resuable Code
 %header {
     font-family: 'Aller';
 }

 %ffL {
     font-family: 'Aller';
     font-weight: 300;
 }

 %ffR {
     font-family: 'Aller';
 }

 %ffM {
     font-family: 'Aller';
 }

 %ffB {
     font-family: 'Aller';
     font-weight: bold;
 }

 %ffEB {
     font-family: 'Fira Sans Extrabold';
 }

 %bxshadow {
    box-shadow: 0 1px 3px 0 #2a2a2a30, 0 3px 5px 6px #5e5a450a
 }
 
 %bxshadowUp {
    box-shadow: 1px 0 3px 0 #2a2a2a30, 3px 0 5px 6px #5e5a450a
 }

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Aller';
    @include font-size(2);
}

 /*########### MEDIA QUERY DEPENDENT STYLES ###############*/

 // Media Query BreakPoints
 $break-smobile : 360px;
 $break-mobile : 640px;
 $break-tablet : 800px;
 $break-desktop : 1024px;
 $break-desktop-large : 1400px;

 //Mixin for inserting Media Queries
 @mixin responsify($breakPoint) {
     @media (min-width: $breakPoint) {
         @content;
     }
 }

 /*########### END MEDIA QUERY DEPENDENT STYLES ############*/

 // Scroll Bar Style
 ::-webkit-scrollbar {
     width: 10px;
 }

 ::-webkit-scrollbar-track {
     background: transparent;
         box-shadow: inset 0 0 5px 5px transparent;
     border: 3px solid transparent;
 }

 ::-webkit-scrollbar-thumb {
     box-shadow: inset 0 0 5px 5px #afa6a1;
     border: 3px solid transparent;
 }

 ::-webkit-scrollbar-thumb:hover {
     // background: $pri;
     transition: 400ms;
 }

 //Profile pic style
 %profile-pics {
     display: inline-block;
     width: 34px;
     height: 34px;
     background-color: #fff;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border: 2px solid white;
     border-radius: 50%;
 }

 //  Button Highlight
 .highlight {
     display: none;
    opacity: 0;
    background-color: rgb(163, 181, 195);
    border-radius: 50%;
    right: 12px;
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    animation: pop 250ms;
 }


 /*########### Animation Keyframe ###############*/

 @keyframes slideIn {
     from {
         transform: translate(30px, 0px);
         opacity: 0;
     }
 }

 @keyframes slideOut {
     to {
         transform: translate(60px, 0);
         opacity: 0;
     }
 }

 @keyframes slideUp {
     from {
         transform: translate(0, 400px);
         opacity: 0;
     }
 }

 @keyframes slideDown {
     to {
         transform: translate(0, 400px);
         opacity: 0;
     }
 }

 @keyframes pop {
    to {
        opacity: 0.4;
        width: 80px;
        height: 80px;
        transform: translate(28px, -29px);
        background-color: rgb(22, 115, 190);
    }
 }

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

 /*########### END Animation Keyframe ###############*/

 /*########### NGVIEW ANIMATION STYLES ###############*/

 main[ng-view] .ng-enter,
 main[ng-view] .ng-leave {
     -webkit-transition: all 10s ease;
     -moz-transition: all 10s ease;
     -o-transition: all 10s ease;
     transition: all 10s ease;
 }

 main[ng-view] .ng-enter {
     left: 100%;
 }

 main[ng-view] .ng-enter-active {
     left: 0;
 }

 main[ng-view] .ng-leave {
     left: 0;
 }

 main[ng-view] .ng-leave-active {
     left: -100%;
 }


 /*########### NGVIEW ANIMATION STYLES ###############*/