<!-- Begin Specs Category Unit -->
<div id="specifications">

    <div class="specs-category">
        <header>
            <h4>DISPLAY</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>6.5''</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Size</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>4K</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Resolution</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>OLED</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Tech</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>60Hz</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Refresh Rate</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>21:9</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Ratio</span></td>
                    </tr>
                </table>
            </div>
            <button>More Details</button>

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->

    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>MEMORY & STORAGE</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>64GB/128GB</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Storage</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>UFS 2.1</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Storage Type</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>4/6GB RAM</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Memory</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>Hybrid, 512GB</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>MicroSD</span></td>
                    </tr>
                </table>
            </div>
            <!-- <button>More Details</button> -->

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->

    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>BATTERY &amp; POWER</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>3300mAH</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Capacity</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>Li-Po</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Battery Type</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>QC 4+(25W)</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Charging</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>USB-C PD</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Port</span></td>
                    </tr>
                </table>
            </div>
            <!-- <button>More Details</button> -->

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->
</div>
<!-- End Device specifications -->