<!-- Begin Specs Category Unit -->
<div id="specifications">

    <div class="specs-category">
        <header>
            <h4>DISPLAY</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.displaySpec.size}}''</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Size</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.displaySpec.resolution}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Resolution</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.displaySpec.tech}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Tech</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.displaySpec.refreshRate}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Refresh Rate</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.displaySpec.aspectRatio}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Screen Ratio</span></td>
                    </tr>
                </table>
            </div>
            <button>More Details</button>

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->

    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>CPU & PERFORMANCE</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.performanceSpec.CPU}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>CPU</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.performanceSpec.coreCount}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>CPU Cores</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.performanceSpec.clockSpeed}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Clock Speed</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.performanceSpec.GPU}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>GPU</span></td>
                    </tr>
                </table>
            </div>
            <button>More Details</button>

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->

    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>SOFTWARE</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.softwareSpec.OS}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>OS</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.softwareSpec.version}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Version</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.softwareSpec.upgradable}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Upgradable</span></td>
                    </tr>
                </table>
            </div>

            <button>More Details</button>
        </div>
        <div class="specs-category-extra"></div>
    </div>
    <!-- End Specs Category Unit -->
    
    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>MEMORY & STORAGE</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.memorySpec.storage}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Storage</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.memorySpec.type}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Storage Type</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.memorySpec.memory}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Memory</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.memorySpec.microSD}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>MicroSD</span></td>
                    </tr>
                </table>
            </div>
            <button>More Details</button>

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->

    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>BATTERY &amp; POWER</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.powerSpec.capacity}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Capacity</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.powerSpec.batteryTech}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Battery Type</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.powerSpec.charging}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Charging</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.powerSpec.port}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Port</span></td>
                    </tr>
                </table>
            </div>
            <!-- <button>More Details</button> -->

        </div>
        <div class="specs-category-extra">

        </div>

    </div>
    <!-- End Specs Category Unit -->
    
    <!-- Begin Specs Category Unit -->
    <div class="specs-category">
        <header>
            <h4>SOUND &amp; AUDIO</h4>
        </header>

        <div class="specs-category-main">

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.audioSpec.stereoSpeakers}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Speakers</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.audioSpec.audioPort}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Audio Jack</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.audioSpec.DAC}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>DAC</span></td>
                    </tr>
                </table>
            </div>

            <div class="specs-category-main-item">
                <table>
                    <tr>
                        <td>
                            <h3>{{::gadget.audioSpec.mics}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Mics</span></td>
                    </tr>
                </table>
            </div>
            <!-- <button>More Details</button> -->

        </div>
        <div class="specs-category-extra"></div>
    </div>
    <!-- End Specs Category Unit -->
    
</div>
<!-- End Device specifications -->