<div class="page activity-page">

    <div class="container">
        <div class="main-controls-sort">
            <button class="main-controls-sort-btn"><span>Sort</span> <img src="../Icons/sort-24px.png" /></button>
        </div>
        <ul class="activity-list">
            <li class="activity-list-item user-answer">
                <div class="activity-list-item-header">
                    <label class="created">Mon at 12:01pm</label>
                    <h3><span class="highlight">You</span> answered this - <span class="question-title">ipsum dolor sit
                            amet
                            consectetur, adipisicing elit. Alias nobis error odio. Ullam dolores
                            dolore repudiandae</span></h3>
                </div>
                <div class="activity-list-item-main">
                    <a class="link-to-answer" ui-sref="">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In consequatur eveniet nisi ipsa,
                        corporis nobis voluptatibus perspiciatis quia, ad, veniam ratione! Est dolore mollitia tempora
                        ad repellendus consequuntur nam asperiores!
                    </a>
                    <div class="footer">
                        <span class="stat">344 upvotes - 12 downvotes</span>
                        <div class="actions">
                            <ul>
                                <li>
                                    <button>Update</button>
                                </li>
                                <li>
                                    <button>Delete</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="activity-list-item user-answer">
                <div class="activity-list-item-header">
                    <label class="created">Mon at 12:01pm</label>
                    <h3><span class="highlight">You</span> asked about the - <span class="question-title">Dell XPS 13 (2019)</span></h3>
                </div>
                <div class="activity-list-item-main">
                    <a class="link-to-answer" ui-sref="">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In consequatur eveniet nisi ipsa?
                    </a>
                    <div class="footer">
                        <span class="stat">13 answers</span>
                        <div class="actions">
                            <ul>
                                <li>
                                    <button>Update</button>
                                </li>
                                <li>
                                    <button>Delete</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="activity-list-item user-answer">
                <div class="activity-list-item-header">
                    <label class="created">Mon at 12:01pm</label>
                    <h3><span class="highlight">You</span> answered this - <span class="question-title">ipsum dolor sit
                            amet
                            consectetur, adipisicing elit. Alias nobis error odio. Ullam dolores
                            dolore repudiandae</span></h3>
                </div>
                <div class="activity-list-item-main">
                    <a class="link-to-answer" ui-sref="">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In consequatur eveniet nisi ipsa,
                        corporis nobis voluptatibus perspiciatis quia, ad, veniam ratione! Est dolore mollitia tempora
                        ad repellendus consequuntur nam asperiores!
                    </a>
                    <div class="footer">
                        <span class="stat">344 upvotes - 12 downvotes</span>
                        <div class="actions">
                            <ul>
                                <li>
                                    <button>Update</button>
                                </li>
                                <li>
                                    <button>Delete</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>